parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method .+getUsername\(\).#'
        -
            identifier: missingType.iterableValue
        -
            identifier: return.type
        -
            identifier: assign.propertyType
        -
            identifier: argument.type
